<!DOCTYPE html>

<html class="no-js">
<!--<![endif]-->
<head>

    <meta charset="utf-8">
    <title>My Health</title>
    <meta name="description" content="">
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="shortcut icon" href="img/favicon.png"> -->
    <link href='http://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet'>
    <!-- Syntax Highlighter -->
    <link rel="stylesheet" type="text/css" href="~/Content/DashboardTemplate/syntax-highlighter/styles/shCore.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/Content/DashboardTemplate/syntax-highlighter/styles/shThemeDefault.css" media="all">
    <!-- Font Awesome CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/font-awesome.min.css">
    <!-- Normalize/Reset CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/normalize.min.css">
    <!-- Main CSS-->
    <link rel="stylesheet" href="~/Content/DashboardTemplate/css/main.css">

    <link href="~/Content/Template/css/bootstrap.css" rel="stylesheet" />



</head>
<body id="welcome">
        <div class="left-sidebar">
            <div class="logo">
                <a href="#welcome">
                    <img src="~/Content/DashboardTemplate/img/logo.png" alt="">
                </a>
            </div>
            <div id="navbar">
                <ul id="nav navbar-nav">
                    <li class="current"><a href="#welcome">Welcome</a></li>
                    <li> @Html.ActionLink("Change Password", "ChangePassword", "Home", null, null) </li>
                    @{
                        if (Session["UserTypeID"] != null)
                        {
                            var usertype = Convert.ToString(Session["UserTypeID"]);
                            int value = Convert.ToInt32(usertype.Trim());
                            if (value == 1)
                            {
                                <li> @Html.ActionLink("Account Type", "Index", "AccountTypeTables", null, null) </li>
                                <li> @Html.ActionLink("All User", "Index", "UserTables", null, null) </li>
                                <li> @Html.ActionLink("Pending(Lab) Request", "Index", "UserTables", null, null) </li>
                                <li> @Html.ActionLink("Pending(Doctor) Request", "Index", "UserTables", null, null) </li>
                                <li> @Html.ActionLink("All Doctor's", "GetAllDoctors", "PatientAppointment", null, null) </li>
                                <li> @Html.ActionLink("All Lab's", "GetAllLabs", "PatientAppointment", null, null) </li>
                                <li> @Html.ActionLink("All Patient's", "Index", "UserTables", null, null) </li>
                            }
                            if (value == 3)
                            {
                                //Lab User Access

                                <li> @Html.ActionLink("Time Slot", "Index", "LabTimeSlotTables", null, null) </li>
                                <li> @Html.ActionLink("All Lab Test", "AllLabTest", "Lab", null, null) </li>
                                <li> @Html.ActionLink("Add Test", "AddTest", "Lab", null, null) </li>
                                <li> @Html.ActionLink("Current Appointment", "CurrentAppointment", "LabApprove", null, null) </li>
                                <li> @Html.ActionLink("Pending Appointment", "PendingAppointment", "LabApprove", null, null) </li>
                                
                                <li> @Html.ActionLink("Complete Appointment", "CompleteAppointment", "LabApprove", null, null) </li>
                                <li> @Html.ActionLink("All Appointment", "AllAppointment", "LabApprove", null, null) </li>
                                <li> @Html.ActionLink("Appointment Report", "AppointmentReport", "LabApprove", null, null) </li>
                            }
                            else if (value == 2)
                            {
                                //Doctor User Access

                                <li> @Html.ActionLink("Time Slot", "Index", "DoctorTimeSlotTables", null, null) </li>
                                <li> @Html.ActionLink("Current Appointment", "CurrentAppointment", "DoctorApprove", null, null) </li>
                                <li> @Html.ActionLink("Pending Appointment", "PendingAppointment", "DoctorApprove", null, null) </li>
                                <li> @Html.ActionLink("Complete Appointment", "CompleteAppointment", "DoctorApprove", null, null) </li>
                                <li> @Html.ActionLink("All Appointment", "AllAppointment", "DoctorApprove", null, null) </li>
                                <li> @Html.ActionLink("Appointment Report", "AppointmentReport", "DoctorApprove", null, null) </li>
                            }

                            else if (value == 4)
                            {
                                //Patient User Access


                                <li> @Html.ActionLink("All Labs", "GetAllLabs", "PatientAppointment", null, null) </li>
                                <li> @Html.ActionLink("All Doctors", "GetAllDoctors", "PatientAppointment", null, null) </li>


                                <li> @Html.ActionLink("Pending(Lab) Appointment", "PendingAppointment", "LabAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Current(Lab) Appointment", "CurrentAppointment", "LabAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Cancel(Lab) Appointment", "CancleAppointment", "LabAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Complete(Lab) Appointment", "CompleteAppointment", "LabAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("All(Lab)Appointment", "AllAppointment", "LabAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Appointment(Lab)Report", "AppointmentReport", "LabAppointmentStatus", null, null) </li>


                                <li> @Html.ActionLink("All(Doctor)  Appointment", "AllAppointment", "DoctorAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Pending(Doctor) Appointment", "PendingAppointment", "DoctorAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Current(Doctor)  Appointment", "CurrentAppointment", "DoctorAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Complete(Doctor)  Appointment", "CompleteAppointment", "DoctorAppointmentStatus", null, null) </li>
                                <li> @Html.ActionLink("Cancel(Doctor)  Appointment", "CancleAppointment", "DoctorAppointmentStatus", null, null) </li>


                                <li> @Html.ActionLink("Appointment(Doctor)  Report", "AppointmentReport", "DoctorAppointmentStatus", null, null) </li>
                            }

                        }

                    }
                    <li> @Html.ActionLink("Log Out", "LogoutUser", "Home", null, null) </li>



                </ul>
            </div>

       </div>
    
    
    <div id="main-wrapper">
        <div class="main-content">
            <section id="welcome">
                <div class="content-header">
                    <h1>My Health</h1>
                </div>

                @RenderBody()

            </section>
        </div>
    </div>


    <!-- Essential JavaScript Libraries
        ==============================================-->
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/js/jquery.nav.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushXml.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushCss.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushJScript.js"></script>
    <script type="text/javascript" src="~/Content/DashboardTemplate/syntax-highlighter/scripts/shBrushPhp.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()</script>

    <script type="text/javascript" src="~/Content/DashboardTemplate/js/custom.js"></script>




</body>
</html>